.container_{
	background-image: url("images/bk.jpg");
}
.float_right{
	float: right;
	background-image: url(bk.jpg);
}
.float_left{
	float: left;
}
.float_left, .float_right{
	width: 50%;
}
.clearfix{
	clear:both;
	float:none;
	padding: 1px;
	width:100%;
}
.overlay {
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
html, body {
	overflow-x: hidden;
}

.container_ {
	overflow-x: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;	
}

.container_.overlay-open {
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
}

.container_::after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.container_.overlay-open::after {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-contentpush {
	background: rgba(153,204,51,1);
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.lead{
	font-size: 21px;
}
.pad30{
	padding: 15px 30px;
}
.lead-strong{
	font-size: 34px;
	text-transform: capitalize;
}
@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
.resume h2{
 padding-top: 80px;
}
.container{
	background-color: ;
}   
.float_right img{
	width: 100%;
}
/** Contact Form **/
.bg-img{
	position: relative;
}
.bg-img .overlay{
	position: absolute;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background: rgba(1,1,1,.7);
	height: 100%;
	width: 100%;
}
form .form-control{
	padding: 10px;
}
form .row{
	padding: 5px 0px;
}
form .row label{
	padding: 5px 0px;
	display: inline-block;
}
#submit_button{
	padding: 15px 20px;
    background: #fff;
    color: #222;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}